<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    {{!-- <link rel="icon" href="/img/weather.png"> --}}
    <link rel="stylesheet" href="/css/styles.css">
    {{>background}}
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p1>Description about education-AI team:<p1>
        <p>Yehoshua Shamir<p></p>
        <p>Avshalom Tam<p></p>
        <p>Refael Shamir<p></p>
        <p>Michal Mussai<p></p>
    </div>
    {{>footer}}
</body>
</html>