<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
    {{>background}}
</head>
<body>
        <div class="main-content">
        {{>header}}
        <h1>Choose lecture number</h1>

        <a href="/statistics-all" class="btn btn-fill">Lecture 1</a>
        <div class="clearfix visible-xxs"></div>
        <a href="/statistics-all" class="btn btn-fill">Lecture 2</a>
        <div class="clearfix visible-xxs"></div>
        <a href="/statistics-all" class="btn btn-fill">Lecture 3</a>
        <div class="clearfix visible-xxs"></div>
        <a href="/statistics-all" class="btn btn-fill">Lecture 4</a>
        <div class="clearfix visible-xxs"></div>
        <a href="/statistics-all" class="btn btn-fill">Lecture 5</a>
        <div class="clearfix visible-xxs"></div>
        <a href="/statistics-all" class="btn btn-fill">Lecture 6</a>
    </div>
    {{>footer}}
</body>


</html>