<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
    {{!-- <link rel="icon" href="/img/weather.png"> --}}
    <link rel="stylesheet" href="/css/styles.css">
    {{>background}}
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This is some helpful text<p>
    </div>
    
    {{>footer}}
</body>

</html>

    {{!-- <div class="main-content">
        {{>header}}
        <p>Here add description about us<p>


    </div>
    {{>footer}} --}}