<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
    {{!-- <link rel="icon" href="/img/weather.png"> --}}
    <link rel="stylesheet" href="/css/styles.css">
    {{>background}}
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Hi! this site created and designed by the education-AI team<p>
        <p>We are members of the IBM contest.<p></p>
        <p>To see the results of your students progress, please choose course name and lecture number at the "courses" tab.<p></p>
    </div>
    
    {{>footer}}
</body>

</html>

    {{!-- <div class="main-content">
        {{>header}}
        <p>Here add description about us<p>


    </div>
    {{>footer}} --}}