<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    {{>background}}
</head>

<body>
        <div class="main-content">
        {{>header}}
        <h1>Hi! This is the place to see the progress of your student!</h1>
        <p>Want to see the statistics? press the button below</p>

        <form>
            <a href="/choose_course" class="btn btn-fill">Click here to view the courses</a>
        </form>
    </div>
    {{>footer}}

</body>


</html>